.cart-header {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 40px
}

.cart-box {
    width: 90%;
    margin-top: 65px;
}
.cart-item-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: solid 1px lightgray;
    border-bottom: solid 1px lightgray;
    padding: 20px 0px;
}
.cart-img-box {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cart-product-img {
    width: 200px;
    max-height: 288px;
}

.cart-amount-box {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
}

.cart-quantity-button {
    padding: 0;
    width: 20px;
    height: 20px;
    border: 1px solid black;
    background-color: white;
}

.cart-info-box{
    display: flex;
    flex-direction: column;
}

.cart-attribute-name {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    margin: 5px 0;
}

.cart-item-info {
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cart-brand {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 27px;
    margin: 3px 0;
}
.cart-name {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 27px;
    margin: 3px 0;
}

.cart-price {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    margin: 10px 0;
}

.cart-swatch-attribute {
    margin: 0 3px;
    border: none;
    padding: 0;
    width: 20px;
    height: 20px;
}

.cart-choosen-swatch-attribute {
    margin: 0 3px;
    border: 2px solid orange;
    padding: 0;
    width: 22px;
    height: 22px;
}

.cart-text-attribute {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    background-color: white;
    border: solid 1px black;
    padding: 0;
    width: 50px;
    height: 20px;
    margin: 3px 3px;
}

.cart-capacity-text-attribute{
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    background-color: white;
    border: solid 1px black;
    padding: 0;
    width: 50px;
    height: 20px;
    margin: 3px 3px
}

.cart-choosen-text-attribute {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: white;
    background-color: black;
    border: solid 1px black;
    padding: 0;
    width: 50px;
    height: 20px;
    margin: 3px 3px;
}

.cart-capacity-choosen-text-attribute {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: white;
    background-color: black;
    border: solid 1px black;
    padding: 0;
    width: 50px;
    height: 20px;
    margin: 3px 3px;
}

.attribute-div {
    padding: 0;
    width: 20px;
    height: 20px;
}

.checkout-box{
    margin: 20px 0;
}

.count {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
}

.checkout-info {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    margin: 7px 0;
}

.total{
    font-weight: bold;
}

.order-button {
    margin: 15px 0;
    width: 279px;
    height: 43px;
    background-color: orange;
    border: none;
    cursor: pointer;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 120%;
}
