.mini-cart {
    position: fixed;
    top: 63px;
    left: 70%;
    z-index: 10000;
    background-color: white;
    width: 325px;
    overflow-y: auto;
    max-height: 650px;
    padding: 10px;
}

.ovarlay {
    position: fixed;
    top: 63px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0, 0.5);
    z-index: 900;
}

.mini-cart-box {
    width: 70%
}
.mini-cart-item-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: solid 1px lightgray;
    border-bottom: solid 1px lightgray;
    padding: 20px 0px;
}
.mini-cart-img-box {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.mini-cart-product-img {
    max-width: 120px;
    max-height: 120px;
}

.mini-cart-amount-box {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
}

.mini-cart-quantity-button {
    padding: 0;
    width: 20px;
    height: 20px;
    border: 1px solid black;
    background-color: white;
}

.mini-cart-info-box{
    display: flex;
    flex-direction: column;
}

.mini-cart-attribute-name {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin: 5px 0;
}

.mini-cart-item-info {
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mini-cart-brand {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 160%;
    margin: 3px 0;
}
.mini-cart-name {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 160%;
    margin: 3px 0;
}

.mini-cart-price {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    margin: 10px 0;
}

.mini-cart-swatch-attribute {
    margin: 3px 3px;
    border: none;
    padding: 0;
    width: 18px;
    height: 18px;
}

.mini-cart-choosen-swatch-attribute {
    margin: 3px 3px;
    border: 2px solid orange;
    padding: 0;
    width: 20px;
    height: 20px;
}

.mini-cart-text-attribute {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    background-color: white;
    border: solid 1px black;
    padding: 0;
    width: 24px;
    height: 24px;
    margin: 3px 3px;
}

.mini-cart-choosen-text-attribute {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: white;
    background-color: black;
    border: solid 1px black;
    padding: 0;
    width: 24px;
    height: 24px;
    margin: 3px 3px;
}

.attribute-div {
    padding: 0;
    width: 20px;
    height: 20px;
}

.mini-cart-checkout {
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.view-bag-button {
    width: 140px;
    height: 43px;
    border: 1px solid black;
    background-color: white;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 120%;
    cursor: pointer;
}

.check-out-button {
    width: 140px;
    height: 43px;
    border: 1px solid black;
    background-color: orange;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 120%;
    cursor: pointer;
}


